# Ignore virtual environment
venv/
env/
.venv/


# Ignore environment variables file
.env

# __pycache__ and Python bytecode
__pycache__/
*.py[cod]

# VSCode or PyCharm settings (optional)
.vscode/
.idea/

# Mypy cache
.mypy_cache/

.ipynb_checkpoints/

mypy.ini
